name: Deploy Spring Boot App

permissions:
  contents: write

on:
  push:
    branches:
      - master

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'adopt'

      - name: Verify Maven Wrapper
        run: |
          if [ ! -f mvnw ]; then
            echo "Maven Wrapper (mvnw) not found in the root of the repository."
            exit 1
          fi
          chmod +x ./mvnw

      - name: Publish fitnesspro-shared-communication
        run: |
          mkdir -p ~/.m2
          echo "
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${{ secrets.PACKAGES_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          " > ~/.m2/settings.xml
          ./mvnw clean deploy -DskipTests -pl fitnesspro-shared-communication -am
        env:
          PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
  build:
    runs-on: ubuntu-latest
    needs: publish-packages

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'adopt'

      - name: Grant execute permission for mvnw
        run: chmod +x ./mvnw

      - name: Build with Maven
        run: ./mvnw clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: fitnesspro-service-jar
          path: fitnesspro-service/target/*.jar

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: fitnesspro-service-jar
          path: docker-build

      - name: Create Docker context directory
        run: mkdir -p docker

      - name: Copy JAR to Docker context
        run: |
          cp docker-build/*.jar docker/app.jar # Copia e renomeia o JAR

      - name: Build Docker image
        run: docker build -t nikolasluiz123/fitnesspro-service:latest docker

      - name: Push Docker image to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push nikolasluiz123/fitnesspro-service

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up XML tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils

      - name: Extract version
        id: get_version
        run: |
          RAW_VERSION=$(xmllint --xpath "/*[local-name()='project']/*[local-name()='version']/text()" pom.xml)
          CLEAN_VERSION=$(echo "$RAW_VERSION" | sed 's/-SNAPSHOT//')
          FINAL_VERSION="${CLEAN_VERSION}${{ github.event.inputs.tag_suffix }}"
          echo "VERSION=$FINAL_VERSION" >> $GITHUB_ENV

      - name: Configure Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Create Git tag
        run: |
          git tag ${{ env.VERSION }}
          git push origin ${{ env.VERSION }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.VERSION }}
          name: "Release ${{ env.VERSION }}"
          generate_release_notes: true

  deploy:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: SSH and deploy
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem
          ssh -i private_key.pem -o StrictHostKeyChecking=no ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} << EOF
            docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
            docker pull nikolasluiz123/fitnesspro-service
            docker stop spring-app
            docker image prune -a -f
            docker rm spring-app
            docker run -d -p 8081:8081 \
          --env FITNESS_PRO_DB_USER="${{ secrets.FITNESS_PRO_DB_USER }}" \
          --env FITNESS_PRO_DB_PASSWORD="${{ secrets.FITNESS_PRO_DB_PASSWORD }}" \
          --env SPRING_PROFILES_ACTIVE=remote \
          --env JWT_SECRET="${{ secrets.JWT_SECRET }}" \
          --env CLOUD_CREDENTIALS="${{ secrets.CLOUD_CREDENTIALS }}" \
          --name spring-app nikolasluiz123/fitnesspro-service
          EOF
          rm private_key.pem